<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Registro de tarjeta</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<div class="container">
			<section class="little-header">
				<img class="question-img" src="/img/icons/question.png" alt="">
			</section>
		</div>
		<div class="container">
			<section class="row">
				<img class="col s6 offset-s3 img-lockone" src="/img/icons/bcp-logo.png" alt="">
			</section>
			<div class="row center">
				<div class="col s12">
					<h5><strong>Registra tu tarjeta de débito BCP</strong></h5>
					<p>Por ahora sólo aceptamos cuenta de ahorro y/o corriente en pesos</p>
				</div>
			</div>
		</div>
		<div class="container">
			<section class="row center">
				<form class="col s12" action="index.html" method="post">
					<div class="input-field col s12">
						<label class="icon_card" for="credit_number"></label>
						<input id="credit_number" type="text" name="" value="">
					</div>
					<div class="row">
						<div class="col s12 offset-s3">
							<div class="col s1">
								<img class="scan-img" src="../img/icons/scan.png" alt="">
							</div>
							<div class="col s5">
								<a href="#">Escanear tarjeta</a>
							</div>
						</div>
					</div>
					<div class="row container-date">
						<div class="col s5">
							<p>Fecha de vencimiento</p>
						</div>
						<div class="col s2">
							<div class="input-field">
								<input type="text" name="" value="" placeholder="Mes">
							</div>
						</div>
						<div class="col s2">
							<div class="input-field">
								<input type="text" name="" value="" placeholder="Año">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s12 center">
							<button id="button-register-card" class="btn" type="submit" name="action" disabled>CONTINUAR</button>
						</div>
					</div>
				</form>
			</section>
		</div>
		<!-- scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	</body>
</html>
