<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Registro Éxitoso</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<section class="container-fluid container-yellow">
			<div class="container-column center">
				<img class="success-img" src="../img/icons/check.png" alt="">
				<h3>¡Bien!</h3>
				<p>Ahora puedes usar Yape</p>
			</div>
		</section>
		<!-- scripts -->
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	</body>
</html>
