<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sesión Iniciada</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body class="container-second-backcolor">
		<div class="container-fluid">
			<section class="little-third-header">
				<img class="config-img" src="/img/icons/engine.png" alt="">
			</section>
		</div>
		<div class="container-fluid container-backcolor">
			<section class="row">
				<div class="container-light-purple">
					<img class="happy-face-img" src="/img/icons/happy-face.png" alt="">
					<h5>Hola</h5>
					<div class="col s12 offset-s6">
						<div class="col s1">
							<img class="scan-img" src="../img/icons/eye.png" alt="">
						</div>
						<div class="col s5">
							<a href="#">Mostrar saldo</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="container-fluid">
			<section class="little-fourth-header">
				<span>ÚLTIMOS MOVIMIENTOS</span>
				<img class="config-img" src="/img/icons/right-arrow-circular-button.png" alt="">
			</section>
		</div>
		<div class="container-fluid container-second-backcolor">
			<div class="row">
				<div class="col s12">
					<img class="col s4" src="/img/icons/icon.png" alt="">
					<p class="text-white">¿Aún no realizas tu primer pago?</p>
					<p class="text-white">Es rápido y sencillo</p>
				</div>
			</div>
			<div class="row">
				<div class="col s12">
					<div class="col s6 center">
						<img class="button-circle" src="/img/icons/send.png" alt="">
						<p class="text-white">ENVIAR PAGO</p>
					</div>
					<div class="col s6 center">
						<img class="button-circle" src="/img/icons/code-qr.png" alt="">
						<p class="text-white">RECIBIR PAGO</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
