body {
	margin:0;
	padding:0;
}
/*index styles*/

.extra-margin {
	margin-top: 10%;
}
.carousel {
	height: 480px !important;
}
.carousel .carousel-slider .center .carousel-item {
	min-height: 500px;
}
.carousel .indicators .indicator-item  {
	background-color: #f8f8f8;
}
.carousel .indicators .indicator-item.active {
    background-color: #f64552;
}
.yellow-button {
	width:100%;
	background-color:#fbd43b;
	border:none;
}

/*index styles*/

/*validate number styles*/
#button-validate, .img-phonenumber, #button-validate a {
	margin-top: 20%;
	color:white;
}
#button-validate  {
	background-color:#fbd43b;
}
/*validate number styles*/

/*registration styles*/
.lock-image {
	width: 30px;
	height: 40px;
}
/*registration styles*/

/*creating user styles*/
.img-lockone {
	margin-top: 0.5em;
}
.icon_name {
	background-size: cover;
	width:25px;
	height:22px;
	background-image: url("../img/icons/user.png");
}
.icon_mail {
	background-size: cover;
	width:25px;
	height:22px;
	background-image: url("../img/icons/message-gray.png");
}
.icon_pass {
	background-size: cover;
	width:15px;
	height:20px;
	background-image: url("../img/icons/lock.png");
}

#button-register, #button-register a {
	margin-top: 5%;
	color:white;
}
#button-register {
	background-color:#fbd43b;
}
/*creating user styles*/

/*success message styles*/
.container-yellow {
	display:flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #fbd43b;
}
.success-img {
	height: 20vh;
	width:35%;
}
/*success message styles*/

/*card-register styles*/
.icon_card {
	background-size: cover;
	width:20px;
	height:15px;
	background-image: url("../img/icons/card.png");
}
.scan-img {
	margin: 3px;
	width:20px;
	height:15px;
}
.container-date {
	font-size: 0.8em;
}
.little-header {
	margin:5%;
	height: 20px;
	display:flex;
	justify-content: flex-end;
	align-items:center;
}

.question-img {
	height: 20px;
	width: 20px;
}
/*card-register styles*/

/*card-validate styles*/
.little-second-header {
	margin:5%;
	height: 20px;
	display:flex;
	justify-content: space-between;
	align-items:center;
}
.little-second-header a {
	color:#212121;
}
.icon_lock {
	background-size: cover;
	width:22px;
	height:30px;
	background-image: url("../img/icons/lock.png");
}
#button-register-card-code a {
	margin-top: 5%;
	color:white;
}
#button-register-card-code {
	background-color: #fbd43b;
}
/*card-validate styles*/
/*user-session styles*/
.little-third-header {
	background-color: #451e36;
	padding:5%;
	height: 20px;
	display:flex;
	justify-content: flex-end;
	align-items:center;
}
.little-third-header img {
	height: 20px;
	width: 20px;
}
.container-backcolor {
	background-color: #451e36;
}
.container-second-backcolor {
	background-color: #38052a;
}
.container-light-purple {
	display:flex;
	flex-direction: column;
	height: 30vh;
	justify-content: center;
	align-items: center;
	color:white;
}

.happy-face-img {
	height: 100px;
	width: 100px;
}
.little-fourth-header {
	background-color: #38052a;
	padding:5%;
	height: 20px;
	display:flex;
	justify-content: space-between;
	align-items:center;
}
.little-fourth-header img {
	height: 20px;
	width: 20px;
}
.little-fourth-header span {
	color:white;
}
.text-white {
	color:white;
}
.button-circle {
	height: 60px;
	width: 60px;
}
/*user-session styles*/
