body {
	margin:0;
	padding:0;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
}
/*index styles*/

.extra-margin {
	margin-top: 40%;
}
.carousel .carousel-slider .center .carousel-item {
	min-height: 400px;
    height: 400px;
}
.carousel .indicators .indicator-item  {
	background-color: #f8f8f8;
}
.carousel .indicators .indicator-item.active {
    background-color: #f64552;
}
.yellow-button {
	height: 4em;
	width:100%;
	background-color:#fbd43b;
	border:none;
}

/*index styles*/

/*validate number styles*/
#button-validate, .img-phonenumber {
	margin-top: 10%;
}
/*validate number styles*/
